version: '3'

services:
  keycloak:
    image: quay.io/keycloak/keycloak:latest
    command: start
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://keycloak-db:5432/keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: keycloak
      KC_HOSTNAME: sso.app.danielr1996.de
    labels:
      traefik.enable: true
      traefik.http.routers.keycloak.rule: Host(`sso.app.danielr1996.de`)
      traefik.http.routers.keycloak.tls.certresolver: letsencrypt
      de.danielr1996.bashdoard.name: Keycloak
      de.danielr1996.bashdoard.url: https://sso.app.danielr1996.de
      de.danielr1996.bashdoard.icon: /resources/f5np5/welcome/keycloak/img/favicon.ico
      de.danielr1996.bashdoard.id: keycloak
  keycloak-db:
    restart: unless-stopped
    environment:
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: keycloak
    image: postgres:latest
    volumes:
      - data:/var/lib/postgresql/data
volumes:
  data:
    driver_opts:
      type: "nfs"
      o: "addr=10.0.0.5,nolock,soft,rw"
      device: ":/mnt/user/compose-data/keycloak/db"
